.Rate-My-Salary__form-card {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #FAFAFA;
  height: 100%;
  width: 30%;
  text-align: center;
  padding-top: 10%;
}

.Rate-My-Salary__result-card {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #FAFAFA;
  height: 100%;
  width: 70%;
  text-align: center;
}
